h1, h2, h3, h4, h5, h6, p {
    margin: 0;;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}

:root {
    --primary-color: #4d5ae5;
    --light-color: #ffffff;
    --icon-light: #f4f4fd;
}
    

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

.container { 
    max-width: 1158px;
    padding-right: 15px;
    padding-left:  15px;  
    margin: 0 auto;
    }
    

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
    align-items: center;
    gap: 40px;
}


.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.header-logo span {
    color: #2e2f42;
}
.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.header-link {
    display: block;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
padding: 24px 0;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.address-link {
    display: block;
    padding: 24px 0;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
font-style: normal;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus,
.address-link:hover,
.address-link:focus,
.header-link.current
 {
    color: #404bbf;
}

.header-address {
    font-style: normal;
    margin-left: auto;
}
.address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-link.current {
    position: relative;
}
.header-link.current::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    
}















/* section 1*/

.hero {
    background-color: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/oficce.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1440px;
    margin: 0 auto;
}
.hero-title {
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
margin-bottom: 48px;
max-width: 496px;
margin-left: auto;
margin-right: auto;
}

.hero-btn {
    display: block;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
background-color: #4d5ae5;
cursor: pointer;
margin: 0 auto;
min-width: 169px;
height: 56px;
border: none;
border-radius: 4px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}


.hero-btn:hover,
.hero-btn:focus
 {
    background-color: #404bbf;
}

.header-logo.current {
    position: relative;
}










.strategy {
    padding: 120px 0 ;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.strategy-item {
    width: calc((100% - 72px) / 4);
}
.icon-strategy{
    display: flex;
    border: 1px solid #8e8f99;
border-radius: 4px;
width: 264px;
height: 112px;
background-color: #f4f4fd;;
justify-content: center;
align-items: center;
margin-bottom: 8px;
}

.strategy-list {
    display: flex;
    gap: 24px;
}
.strategy-item-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.strategy-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
/* section 2*/



.team {
    background-color: #f4f4fd;
    padding: 120px 0 ;
}


.team-title {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}
.item-container {
    padding: 32px 0;
}
.team-item-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}
.team-item {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}


.team-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
margin-bottom: 8px;
}

.team-item-icon {
display: flex;
justify-content: center;
gap: 24px;
align-items: center;
}

.team-item-list {
    height: 40px;
    width: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

.team-item-link {
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-item-link:hover,
.team-item-link:focus {
  background-color: #404bbf;
}
.team-item-svg {
    fill: #f4f4fd;
}
.team-item-list:hover {
    background-color: #404bbf;
}

/* section 3*/



.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
margin-bottom: 72px;
}


.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
    row-gap: 48px;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
    box-shadow: 
      0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 2px 1px rgba(46, 47, 66, 0.08);
  }


.portfolio-item-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}


.portfolio-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.portfolio-item-container {
    padding: 32px 16px ;
    border: 1px solid #e7e9fc;
    border-top: none; 
}
.portfolio-item:hover .text-app {
    transform: translateY(0);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);

}
.img-item-portfolio {
    position: relative;
    overflow: hidden;
}

.text-app {
    position: absolute;
    top: 0;
    background-color: #4D5AE5;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    padding: 40px 32px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* footer*/

.page-footer {
    background-color: #2e2f42;
    padding: 100px 0
}

.footer-container {
    display: flex;
    align-items: baseline;
}


.footer-container a {
    margin-bottom: 16px;


}






.footer-logo span {
    color: #f4f4fd;
}
.footer-logo {
    display: inline-block;
}

.footer-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
text-align: left;
 max-width: 264px;
}

.footer-logo {
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.footer-social {
    display: inline;
    margin-right: 80px;
}

.logo-cont {
    display: flex;
    max-width: 264px;
    margin-right: 120px;
    flex-direction: column;
}

.social-text {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
margin-bottom: 16px;
}
.social-items {
    display: flex;
    gap: 16px;
}

.social-list {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.social-link {
    width: 100%;
    height: 100%;
  background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
 background-color:  #31d0aa;

}




/* aufgabe 5*/


.footer-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}
   
.footer-form-cont {
    display: flex;
    gap: 24px;
}

.footer-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;

}
.footer-input::placeholder {
   color:  #ffffff;
}
.footer-form-btn {
    min-width: 165px; 
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px; 

}

.footer-form-svg {
    margin-left: 16px;

}







/* modal*/





.backdrob {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
opacity: 0;
visibility: hidden;
pointer-events: none;
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
width: 408px;
min-height: 584px;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
background: #fcfcfc;
border-radius: 4px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
padding-top: 72px;
padding-bottom: 24px;
padding-left: 24px;
padding-right: 24px;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-svg-btn {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-svg-btn:hover,
.modal-svg-btn:focus {
    fill: #fff;
}
.modal-button:hover .modal-svg-btn,
.modal-button:focus .modal-svg-btn {
    fill: #fff;
}

.modal-button {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 100%;
    border-radius: 100%;
fill: #e7e9fc;
stroke-width: 1px;
stroke: rgba(0, 0, 0, 0.1);
border: none;
width: 24px;
height: 24px;
border-radius: 50%;
display: flex; 
align-items: center;
justify-content: center;
background-color: #e7e9fc;
border: 1px solid rgba(0, 0, 0, 0.1);
padding: 0;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover {
    background-color:  #404bbf;
    border: none;
    

}
.modal-button:focus {
    border: none;
    background-color: #404bbf;
}
.footer-form-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-text {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 16px;
}
.modal-form-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    background-color: transparent; 
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-form-input:focus {
    border-color: #4D5AE5;
}

.modal-label {
    font-weight: 400;
font-size: 12px;
line-height: 1.16667;
letter-spacing: 0.04em;
color: #8e8f99;
display: inline-block;
margin-bottom: 4px;
line-height: 1.17;
display: block;
}

.modall-field {
    margin-bottom: 16px;
}
.modal-icon-wrap {
    position: relative;
}
.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}



.modal-icon:active {
    fill: #4d5ae5;
}

.modal-textarea {
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
padding-top: 8px;
padding-left: 16px;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
width: 100%;
height: 120px;
resize: none;
background-color: transparent;
padding: 8px 16px;
outline: transparent; 
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus {
    border-color: #4D5AE5;
}

.modal-checkbox-label {
    font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;

}

.modal-checkbox-link {
    line-height: 1.33333;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #4d5ae5;

}

.modal-checkbox {
    margin-bottom: 24px;
}

.modal-checkbox-btn {
    display: block;
    border-radius: 4px;
padding: 16px 32px;
min-width: 169px;
height: 56px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background-color: #4D5AE5;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
margin:  0 auto;
border: none;
font-family: "Roboto", sans-serif;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.vector {
    width: 16px;
    height: 16px;
    border-radius: 2px;
border: 1px solid rgba(46, 47, 66, 0.4);
display: inline-block;
margin-right: 8px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
display: inline-flex; 
align-items: center;
justify-content: center;
fill: transparent; 

}

.modal-form-input:focus + svg {
    fill: #4D5AE5; 
}
.modal-field {
    margin-bottom: 8px;
}


.modal-checkbox-item:checked + .modal-checkbox-label + span {
background-color: #404bbf;
border: none;
fill: #F4F4FD;
}

.modal-checkbox-item:checked + .modal-checkbox-label span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}
   
